export APP_BUCKET=
export ARTIFACTS_BUCKET=
export CLIPS_TABLE_NAME=
export FORMATS_TABLE_NAME=
export MARKETING_BUCKET=
export SOUNDS_BUCKET=
export UPLOADS_BUCKET=
export UPLOADS_PREFIX=
export UPLOADS_TABLE_NAME=
export USER_POOL_APP_ID=
export USER_POOL_APP_SECRET=
export USER_POOL_DOMAIN=
export USER_POOL_ID=
